.gradle
gradle
build/
bin/
dist/
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### Frontend ###
frontend/node_modules/
frontend/dist/
